<article class="prod">
    <a href="/productos/<%= product.id %> ">
        <div class="prod-img-box">
            <img src="/images/<%= product.image %>" alt="Vino tinto" />
        </div>

        <div class="prod-name-box">
            <p><%= product.product_name %></p>
            <i class="far fa-heart love"></i>
        </div>
    </a>
    <div class="prod-price-cart-box">
        <p><%= product.price %></p>
        <button class="button create">
            Agregar al carrito
            <i class="fas fa-shopping-cart"></i>
        </button>
    </div>
</article>
