<article class="prod">
    <div class="prod-img-box">
        <img src="<%= product.image %>" alt="Vino tinto" />
    </div>
    <div class="prod-name-box">
        <p><%= product.product_name %></p>
        <i class="far fa-heart love"></i>
    </div>
    <div class="prod-price-cart-box">
        <p><%= product.price %></p>
        <button>
            Agregar al carrito
            <i class="fas fa-shopping-cart"></i>
        </button>
    </div>
</article>
