<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head", {title: "Favoritos | WINDERFUL"})%>
    <link rel="stylesheet" href="/css/favoritos.css">
</head>
<body>
    <%- include("partials/header") %>

    <section>
        <article class="box flex">
            <h3>Luigi Bosca Malbec </h3>
            <p>$500</p>

        </article>


    </section>


    <%- include("partials/footer") %>
</body>
</html>