<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head", {title: "Favoritos | WINDERFUL"})%>
</head>
<body>
    <%- include("partials/header") %>
    <%- include("partials/footer") %>
</body>
</html>