<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/style.css">
    <title>HOME | Winderful</title>
</head>
<body>
    <header class="header-index">
        <div class="side-bar">
            <a class="round-button font" href="">MENÚ</a>
        </div>
        <div class="logo-image">
            <img src="images\WINEDERFULL_logo-02.jpg" alt="">
        </div>
        <div class="cart">
            <i class="fas fa-shopping-cart round-button"></i>
        </div>
    </header>
    <main>

    </main>
    <footer>

    </footer>
</body>
</html>