<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/style.css">
    <title>HOME | Winderful</title>
</head>
<body>
    <header class="header-index">
        <div class="side-bar-open">

        </div>
        <div class="side-bar">
            <a class="round-button font" href="">MENÚ</a>
        </div>
        <div class="logo-image">
            <a href="/"><img src="images\WINEDERFULL_logo-02.jpg" alt=""></a>
        </div>
        <div class="cart">
            <a href="/carritoDeCompras"><i class="fas fa-shopping-cart round-button"></i></a>
           
        </div>
    </header>
    <main>
        <div class="overflow">
            <div class="slideshow">
                <div>
                    <img src="https://images.pexels.com/photos/4156294/pexels-photo-4156294.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
                </div>
                <div>
                    <img src="https://images.pexels.com/photos/696219/pexels-photo-696219.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
                </div>
                <div>
                    <img src="https://images.pexels.com/photos/696215/pexels-photo-696215.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
                </div>
            </div>
        </div>
        <div class="slideshow-prod">
            <div>
                
            </div>
        </div>
    </main>
    <footer>

    </footer>
    
</body>
</html>