<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
    />
    <link rel="stylesheet" href="css/product.css" />
    
    
    <title>PRODUCT | Winderful</title>
  </head>
  <body>
    <header class="header">
      
      <div>
          <a  href="/"> <img class="logo" src="images\WINEDERFULL_logo-02.jpg" alt="Logo Winederfull"></a>
      </div>
      
      <div>
      <ul class="menu">                                                                                                         
        <li1><a href="#">PRODUCTOS</a></li>
        <li2><a href="#">AGENDA DE DEGUSTACIONES</a></li>
        <li3><a href="#">FAVORITOS</a></li>
        <li4><a href="/carritodecompras">CARRITO DE COMPRAS</a></li>
      </ul>
     </div>
    </header>
         
    <div> 
    <img class="product" src="images\botella-de-vino.png" width="160"   alt="botella de vino"> 
    </div> 
    
        
    <table class="font-description description">
      <tbody>
        <tr>
          <td>AÑADA: </td>
          <td class="data"> 1993 </td>
       </tr>

       <tr>
          <td>UVA: </td>
          <td class="data"> MERLOT </td>
       </tr>

       <tr>
          <td>PAIS: </td>
          <td class="data"> ARGENTINA </td>
       </tr>

       <tr>
          <td>ZONA:</td>
          <td class="data"> LOS CHACAYES </td>
       </tr>

       <tr>
          <td>PRODUCTOR:</td>
          <td class="data"> VER SACRUM </td>
       </tr>

       <tr>
          <td>VISTA:</td>
          <td class="data"> COLOR RUBI INTENSO </td>
       </tr>

       <tr>
          <td>AROMAS:</td>
          <td class="data"> CEREZAS, PIMIENTA, FLORES BLANCAS </td>
       </tr>

       <tr>
          <td>SABORES:</td>
          <td class="data"> FRUTAS ROJAS </td>
       </tr>

       <tr>
          <td>TEMPERATURA:</td>
          <td class="data"> 15º A 17º </td>
       </tr>

       <tr>
          <td>GUARDA:</td>
          <td class="data"> 10 AÑOS </td>
       </tr>
     </tbody>
    
   </table>
       
   <section >
     <span>
           <a class="button" href="/productosGuardados">AGREGAR A LA BODEGA</a>
           <a class="button-blue" href="/favoritos">AGREGAR A FAVORITOS</a>
           <input class="quantity-box" type="number" placeholder="1"/>
           <a class="button-blue" href="/favoritos">COMPRAR</a>
           <input type="number" id="quantity-box" name="quantity" value="1" min="1" class="product-form__input" pattern="[0-9]*" data-quantity-input="">
           
     </span>
   </section>

   <section>
    <div> 
    <img class="product" src="images\grafico-animado.png" width="300"   alt="botella de vino"> 
    </div> 

   </section>





</body>
</html>
