<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
    />
    <link rel="stylesheet" href="css/product.css" />
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="css/style.css" />
    <title>PRODUCT | Winderful</title>
  </head>
  <body>
    <header class="header">
      <div>
        <img
          src="images\WINEDERFULL_logo-02.jpg"
          width="180"
          alt="Logo Winederfull"
        />
      </div>

      <ul class="menu">                                                                                                         
        <li1><a href="#">HOME</a></li>
        <li2><a href="#">PRODUCTOS</a></li>
        <li3><a href="#">AGENDA DEGUSTACIONES</a></li>
        <li4><a href="#">CARRITO DE COMPRAS</a></li>
      </ul>
    
    </header>
    <section>
            <ul class="menu-vertical">
                <il>Vino Tinto</il>
                <il>Vino Blanco</il>
                <il>Vino Rosado</il>
                <il>Vino Espumante</il>
                <il>Vino Dulce</il>
            </ul>                                                                                                
             
        
            <span class="producto">
                  <img 
                     src="images\botella-de-vino.png"
                    width="160"
                    alt="Logo Winederfull"/>
            </span>
    </section>
    <section class="descripcion">
        
                <p>AÑADA:</p>
                <p>UVA:</p>
                <p>PAIS:</p>
                <p>ZONA:</p>
                <p>PRODUCTOR:</p>
                <p>VISTA:</p>
                <p>AROMAS:</p>
                <p>SABORES:</p>
                <p>TEMPERATURA:</p>
                <p>GUARDA:</p>

        <form action="product.html" method="GET">
        <label>CANTIDAD</label>
        <select name="Cantidad">
          <option value="1">1</option>  
          <option value="2">2</option> 
          <option value="3">3</option>  
          <option value="4">4</option> 
          <option value="5">5</option>   
          <option value="6">6</option> 

                

         

    </section>
  </body>
</html>
