/* Fuente */
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
    font-family: "Spartan", sans-serif;
    margin: 0;
    padding: 0;
}
.logo {
    width: 30%;
    text-align: center;
}

.menu {
    padding-left: 0%;
}

.menu-vertical {
    font-size: 10px;
    color: black;
    background-color: #8dc19d;
    border-radius: 3px;
    padding: 5px;
    margin: 10px;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    display: inline;
    padding-right: 8px;
    padding-left: 8px;
    margin-left: 30px;
}

.menu-vertical il {
    padding-bottom: 15px;
}

.font-description {
    font-size: 13px;
    text-align: left;
    margin: 2%;
    max-width: max-content;
    width: 100%;
}

.description {
    position: relative;
    background-color: thistle;
    padding-left: 1%;
    border-radius: 3px;
    padding-top: 1%;
    padding-bottom: 1%;
}

.data {
    background: white;
    border-radius: 3px;
    margin: 2%;
    text-align: left;
}

.flex-grow {
    flex-grow: 1;
}

.buy-display {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.quantity-box {
    font-size: 18px;
    font-weight: bold;
    font-family: "Spartan", sans-serif;
    padding: 2px 2px;
    width: 9%;
    border: 1px solid #949494;
    background-color: teal;
    color: white;
    max-width: 100%;
    line-height: 1.2;
    border-radius: 2px;
    touch-action: manipulation;
}

.width-shopping-cart {
    width: 20%;
}

.list-style {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr;
}

.display {
    display: grid;
    grid-template-rows: auto;
    text-align: center;
}

.favourite-button {
    color: white;
    background-color: tomato;
    border-radius: 5%;
    font-size: 21px;
    padding: 1% 3% 1% 3%;
    width: max-content;
    margin-top: 1%;
    text-align: center;
}

.cart-button {
    color: white;
    background-color: #748ac4;
    border-radius: 5%;
    font-size: 21px;
    padding: 1% 3% 1% 3%;
    width: max-content;
    margin-top: 1%;
    text-align: center;
}

.background-similar-wine {
    background-color: #fbca8f;
    z-index: -1;
    height: 25px;
    width: 70%;
    position: relative;
    top: 30px;
}

.subtitle-wine {
    padding-left: 70px;
    display: grid;
    grid-template-rows: 0 auto;
}

.background-winetext {
    border-top: solid 3px #9a345c;
    z-index: -1;
    height: 25px;
    width: 57%;
    position: relative;
    top: 24px;
    padding-top: 2%;
}

.price {
    font-size: 18px;
    font-weight: normal;
    padding-top: 12%;
}

.animation {
    margin-left: 9%;
}

@media (min-width: 768px) {
    .display {
        text-align: left;
    }

    .description {
        position: relative;
        bottom: 750px;
        left: 300px;
        padding: 2%;
    }
}
