/* Fuente */
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
    font-family: "Spartan", sans-serif;
    margin: 0;
    padding: 0;
}

.body-index {
    padding-bottom: 45px;
}

.sidebar,
.side-bar,
.cart {
    display: none;
}

/* Gabi */
/*
.body-cart {
  background-image: url("../images/imagen-bodega2.jpg");
}
*/

/* Vero */
/* header */
.header-index {
    display: grid;
    grid-template-columns: 100%;
}

.logo-image {
    text-align: center;
}

.logo-image img {
    width: 30%;
}

.under-nav {
    z-index: 1;
}

.under-nav ul {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 45px;
    position: fixed;
    bottom: 0;
    left: 0;
    list-style: none;
    padding: 0;
    margin: 0;
    box-shadow: 0px 3px 10px 2px grey;
}

.user-box {
    background-color: tomato;
}

.user-box:hover {
    background-color: rgb(180, 69, 50);
    transition: 0.5s;
}

.search-box {
    background-color: #d4c0dc;
}

.search-box:hover {
    background-color: #af9eb6;
    transition: 0.5s;
}

.cart-box {
    background-color: teal;
}

.cart-box:hover {
    background-color: rgb(2, 97, 97);
    transition: 0.5s;
}
.ticket-box {
    background-color: #a97cb7;
}
.ticket-box:hover {
    background-color: #7e5c88;
    transition: 0.5s;
}

.under-nav ul li {
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.under-nav ul li a {
    color: white;
    font-size: 20px;
}

.rotate {
    transform: rotate(150deg);
}

/* fin header */

/* slider */
.overflow {
    overflow: hidden;
}

.slideshow {
    display: grid;
    grid-template-columns: 100% 100% 100%;
    animation: slider 30s infinite;
    position: relative;
}

@keyframes slider {
    10% {
        right: 0%;
    }
    30% {
        right: 100%;
    }

    60% {
        right: 200%;
    }
    to {
        right: 0%;
    }
}

.slideshow img {
    width: 100%;
}

/* fin slider */

/*slider de productos*/
.slideshow-prod {
    display: grid;
    grid-template-columns: 1% 98% 1%;
    padding: 10px;
}

.prod-container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 100% 100% 100% 100% 100% 100% 100% 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
}

.prod {
    display: grid;
    grid-template-rows: auto 300px 0 auto;
    width: 100%;
    scroll-snap-align: start;
}

.previous,
.next {
    display: grid;
    justify-content: center;
    align-items: center;
}

.arrow {
    cursor: pointer;
}

.prod-love-box i {
    position: relative;
    left: 80%;
    top: 50px;
    font-size: 30px;
    color: #748ac4;
}

.prod-img-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.prod-img-box img {
    width: 80%;
}

.prod-name-box p {
    position: relative;
    left: 15px;
    bottom: 50px;
}

.prod-price-cart-box {
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 10px;
}

.prod-price-cart-box button {
    color: white;
    background-color: #748ac4;
    border: 0;
    border-radius: 5px;
    font-size: 19px;
}

.subtitle {
    padding-left: 15px;
    display: grid;
    grid-template-rows: 0 auto;
}

.background-text {
    background-color: #d4c0dc;
    z-index: -1;
    height: 25px;
    width: 70%;
    position: relative;
    top: 30px;
}

/*fin de slider de productos*/

/*valores*/

section.values {
    margin-top: 30px;
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 60%;
    justify-content: center;
}

.value-img-box {
    text-align: center;

    display: grid;
    justify-content: center;
    align-items: center;
}

.value-img-box img {
    width: 100%;
    border-radius: 50%;
    border: 5px solid #a97cb7;
    padding-top: 20px;
    padding-bottom: 30px;
}

.value-text-box {
    text-align: center;
    position: relative;
    bottom: 40px;
    background-color: white;
}
/*footer index*/
.footer-index {
    background-color: #eedcc6;
    padding: 8px;
    padding-top: 30px;
}

.social-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style: none;
    padding: 0;
}

.social-list li {
    display: grid;
    justify-content: space-around;
}

.social-list li a {
    color: black;
    font-size: 20px;
}

.copy p {
    text-align: center;
    padding-top: 5px;
}

@media (min-width: 550px) {
    .prod-container {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 50% 50% 50% 50% 50% 50% 50% 50%;
    }

    section.values {
        margin-top: 30px;
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: 30% 30%;
        justify-content: space-around;
    }
    .otro {
        position: relative;
        left: 75%;
    }

    .subtitle h2 {
        margin-bottom: 0;
    }

    .background-text {
        width: 50%;
    }

    .body-index {
        padding-bottom: 0;
    }
}

@media (min-width: 768px) {
    .under-nav {
        display: none;
    }
    .header-index {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
    }

    .side-bar,
    .cart {
        align-items: center;
        justify-content: space-around;
        display: grid;
    }
    .sidebar {
        height: 100%;
        width: 300px;
        position: fixed;
        z-index: 1;
        display: block;
        background-color: #d4c0dc;
        left: -300px;
        transition: 1s;
        padding-top: 60px;
    }

    .sidebar ul {
        display: grid;
        grid-template-rows: auto auto auto;
        list-style: none;
        padding: 0;
    }

    .sidebar a {
        text-decoration: none;
        font-size: 18px;
        color: black;
        transition: 0.3s;
        vertical-align: baseline;
    }

    .round-button {
        border-radius: 50%;
        background-color: #d4c0dc;
        color: black;
        font-size: 20px;
        padding: 20px;
    }

    .round-button:hover {
        color: #f1f1f1;
    }

    .sidebar a:hover {
        color: #f1f1f1;
    }

    .sidebar .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

    #winederful-mode {
        background-color: #a97cb7;
        border-radius: 50px;
        font-size: 20px;
        margin-top: 30px;
        font-weight: bold;
        margin-left: 10px;
        display: grid;
        justify-content: center;
        align-items: center;
    }

    #winederful-mode:hover {
        color: #f1f1f1;
    }

    .prod-container {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 33.3% 33.3% 33.3% 33.3% 33.3% 33.3% 33.3% 33.3%;
    }

    .prod {
        display: grid;
        grid-template-rows: auto auto 0 auto;
        width: 100%;
    }

    section.values {
        margin-top: 30px;
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 20% 20% 20%;
        justify-content: space-around;
    }

    .otro {
        left: 0;
    }
    .background-text {
        width: 35%;
    }
    .footer-index {
        background-color: #eedcc6;
        padding: 8px;
        padding-top: 30px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }

    .social-copy-box {
        display: grid;
        grid-template-rows: auto auto;
        justify-content: center;
        align-items: center;
    }
}

@media (min-width: 1100px) {
    .prod-container {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 25% 25% 25% 25% 25% 25% 25% 25%;
    }

    .background-text {
        width: 20%;
    }

    .round-button {
        font-size: 25px;
    }
}
