/* Fuente */
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
    font-family: "Spartan", sans-serif;
    margin: 0;
    padding: 0;
}

/* Gabi */
/*
.body-cart {
  background-image: url("../images/imagen-bodega2.jpg");
}
*/

/* Vero */
/* header */
.header-index {
    display: grid;
    grid-template-columns: 100%;
}

.logo-image {
    text-align: center;
}

.logo-image img {
    width: 30%;
}

.under-nav {
    z-index: 1;
}

.under-nav ul {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 45px;
    position: fixed;
    bottom: 0;
    left: 0;
    list-style: none;
    padding: 0;
    margin: 0;
    box-shadow: 0px 3px 10px 2px grey;
}

.user-box {
    background-color: tomato;
}

.user-box:hover {
    background-color: rgb(180, 69, 50);
    transition: 0.5s;
}

.search-box {
    background-color: #d4c0dc;
}

.search-box:hover {
    background-color: #af9eb6;
    transition: 0.5s;
}

.cart-box {
    background-color: teal;
}

.cart-box:hover {
    background-color: rgb(2, 97, 97);
    transition: 0.5s;
}
.ticket-box {
    background-color: #a97cb7;
}
.ticket-box:hover {
    background-color: #7e5c88;
    transition: 0.5s;
}

.under-nav ul li {
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.under-nav ul li a {
    color: white;
    font-size: 20px;
}

.rotate {
    transform: rotate(150deg);
}

/* fin header */

/* slider */
.overflow {
    overflow: hidden;
}

.slideshow {
    display: grid;
    grid-template-columns: 100% 100% 100%;
    animation: slider 30s infinite;
    position: relative;
}

@keyframes slider {
    10% {
        right: 0%;
    }
    30% {
        right: 100%;
    }

    60% {
        right: 200%;
    }
    to {
        right: 0%;
    }
}

.slideshow img {
    width: 100%;
}

/* fin slider */

/*slider de productos*/
.slideshow-prod {
    display: grid;
    grid-template-columns: 1% 98% 1%;
    padding: 10px;
}

.prod-container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 100% 100% 100% 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
}

.prod {
    display: grid;
    grid-template-rows: auto 300px 0 auto;
    width: 100%;
    scroll-snap-align: start;
}

.previous,
.next {
    display: grid;
    justify-content: center;
    align-items: center;
}

.arrow {
    cursor: pointer;
}

.prod-love-box i {
    position: relative;
    left: 90%;
    top: 0px;
    font-size: 30px;
    color: #748ac4;
}

.prod-img-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.prod-img-box img {
    width: 100%;
}

.prod-name-box p {
    position: relative;
    left: 15px;
    bottom: 50px;
}

.prod-price-cart-box {
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 10px;
}

.prod-price-cart-box button {
    color: white;
    background-color: #748ac4;
    border: 0;
    border-radius: 5px;
    font-size: 19px;
}

.subtitle {
    padding-left: 15px;
    display: grid;
    grid-template-rows: 0 auto;
}

.background-text {
    background-color: #d4c0dc;
    z-index: -1;
    height: 25px;
    width: 70%;
    position: relative;
    top: 30px;
}

/*fin de slider de productos*/
