 <section class="reveal">
                <h2 id="title" class="desktop subtitle-wine">
                    Previsualización
                </h2>
                <div class="previewContainer" id="previewContainer">
                    <img src="" alt="Image Preview" class="imagePreview" />
                    <span>Image Preview</span>
                </div>

                <h2 id="price" class="price">$100</h2>
                <p id="description" class="pDescription descPreview">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Quos, ut culpa dignissimos explicabo nulla fugiat
                    praesentium laboriosam veritatis? Beatae culpa ad deleniti
                    quae qui velit adipisci necessitatibus ipsum officiis
                    laudantium.
                </p>
                <section class="specific">
                    <div id="colapse" class="colapse">
                        <p>ESPECIFICACIONES</p>
                        <i class="fas fa-chevron-down"></i>
                    </div>

                    <div id="inside" class="description font-description">
                        <div>
                            <p>UVA:</p>
                            <p id="grape" class="data"></p>
                        </div>
                        <div>
                            <p>COSECHA:</p>
                            <p id="year" class="data"></p>
                        </div>
                        <!-- <div>
                            <p>PAIS:</p>
                            <p class="data"></p>
                        </div>
                        <div>
                            <p>ZONA:</p>
                            <p class="data"></p>
                        </div>
                        <div>
                            <p>BODEGA:</p>
                            <p class="data"></p>
                        </div> -->
                        <div>
                            <p>TEMPERATURA DE SERVICIO:</p>
                            <p id="temperature" class="data"></p>
                        </div>
                        <div>
                            <p>CRIANZA (EN AÑOS):</p>
                            <p id="aged" class="data"></p>
                        </div>
                    </div>
                </section>
            </section>