<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../partials/head.ejs", {title: "REGISTRO"}) %>
    </head>

    <body>
        <%- include("../partials/header.ejs") %>
        <main class="signup-main">
            <section class="form-register">
                <h2 class="padding">Crea una cuenta</h2>
                <form action="" class="form" enctype="multipart/form-data">
                    <label for="firstName">Nombre</label>
                    <input
                        type="text"
                        name="firstName"
                        id="firstName"
                        placeholder="Nombre"
                    />
                    <label for="lastName">Apellido</label>
                    <input
                        type="text"
                        name="lastName"
                        id="lastName"
                        placeholder="Apellido"
                    />
                    <label for="dni">DNI</label>
                    <input
                        type="number"
                        name="dni"
                        id="dni"
                        placeholder="DNI"
                    />
                    <label for="email">E-mail</label>
                    <input
                        type="email"
                        name="email"
                        id="email"
                        placeholder="E-mail"
                    />
                    <label for="password">Contraseña</label>
                    <input
                        type="password"
                        name="password"
                        id="password"
                        placeholder="Contraseña"
                    />
                    <label for="avatar">Foto de perfil</label>
                    <input type="file" name="image" id="avatar">
                    <label for="terms">
                        <input type="checkbox" name="terms" id="terms" />Acepto
                        los Terminos y Condiciones</label
                    >
                    <button class="button create">Crear cuenta</button>
                    <a class="marginTop" href="/usuarios/login"
                        >Ya tengo una cuenta</a
                    >
                    <a class="marginTop" href="/usuarios/registroBodega"
                        >Crear una cuenta empresa</a
                    >
                    
                </form>
            </section>
        </main>
        <%- include("../partials/footer.ejs") %>
        <script>
            function openNav() {
                document.getElementById("mySidebar").style.marginLeft = "270px";
            }

            function closeNav() {
                document.getElementById("mySidebar").style.marginLeft = "0";
            }
        </script>
    </body>
</html>
