<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../partials/head.ejs") %>
        <title>REGISTRO | WINDERFUL</title>
    </head>

    <body>
        <%- include("../partials/header.ejs") %>
        <main class="signup-main">
            <section class="form-register">
                <h2 class="padding">Crea una cuenta</h2>
                <% if(typeof errors !== "undefined") { %>
                <ul>
                    <% for(let i = 0; i < errors.length; i++) { %>
                </ul>
                <li class="error"><%= errors[i].msg %></li>
                <% } %> <% } %>
                <form
                    action="/usuarios/registro"
                    class="form"
                    method="POST"
                    enctype="multipart/form-data"
                >
                    <label for="firstName">Nombre</label>
                    <input
                        type="text"
                        name="firstName"
                        id="firstName"
                        placeholder="Jose"
                    />
                    <label for="lastName">Apellido</label>
                    <input
                        type="text"
                        name="lastName"
                        id="lastName"
                        placeholder="Perez"
                    />
                    <label for="dni">DNI</label>
                    <input
                        type="number"
                        name="dni"
                        id="dni"
                        placeholder="11111111"
                    />
                    <label for="email">E-mail</label>
                    <input
                        type="email"
                        name="email"
                        id="email"
                        placeholder="joseperez@mail.com"
                    />
                    <label for="password">Contraseña</label>
                    <input
                        type="password"
                        name="password"
                        id="password"
                        placeholder="12345678"
                    />
                    <label for="avatar">Foto de perfil</label>
                    <input type="file" name="image" id="avatar" />
                    <label for="terms">
                        <input type="checkbox" name="terms" id="terms" />Acepto
                        los Terminos y Condiciones</label
                    >
                    <button class="button create">Crear cuenta</button>
                    <a class="marginTop" href="/usuarios/login"
                        >Ya tengo una cuenta</a
                    >
                    <a class="marginTop" href="/usuarios/registroBodega"
                        >Crear una cuenta empresa</a
                    >
                </form>
            </section>
        </main>
        <%- include("../partials/footer.ejs") %>
    </body>
</html>
