<section class="action hide" id="address-screen">
    <div class="background-text"></div>
    <h2>Mis direcciones</h2>
    <% if(user.addresses.length === 0) {%>
    <h4>No tienes direcciones cargadas aun</h4>
    <% } %>
    <ul class="marginY">
        <form action="/usuarios/editarDireccion" method="POST">
            <% if(user.dni) { for(let i = 0; i < user.addresses.length; i++) {%>
            <div id="addresses-actions">
                <h4 class="marginY">Dirección <%= i+1%></h4>
                <div>
                    <button type="button" class="edit-btn no-border back-white">
                        <i class="fas fa-pencil-alt edit-icon"></i>
                    </button>
                    <button
                        type="button"
                        class="delete-btn no-border back-white"
                    >
                        <i class="fas fa-trash-alt delete-icon"></i>
                    </button>
                </div>
            </div>

            <%- include("./fieldsetAddress.ejs")%> 
            <% } %>

            <%-include("./addNew.ejs")%> 
            <button type="button" id="new-address">
                <i class="fas fa-plus"></i>
            </button>
            <% } %>
             <%if(user.addresses.length > 0)
            { %>
            <button class="button create" id="save-changes-btn" type="submit">
                Guardar cambios
            </button>
            <button class="button erase" id="reset-btn" type="reset">
                Descartar cambios
            </button>
            <% } %>
        </form>
    </ul>
</section>
