<section class="action hide" id="transactions-screen">
    <div class="profile-right">
        <div class="background-text"></div>
        <h2>Mis compras</h2>
        <% if(user.dni && user.orders.length == 0) {%>
        <h4 id="noAddressesYet-msg" class="marginY">
            No tienes compras realizadas aún...
        </h4>
       
        <% } %>
         <% if(user.dni) { 
             for(let i = 0; i < user.orders.length; i++)
        { %>

        <article id="article-<%=i%>" class="address-article">
           <p>$<%=user.orders[i].total%></p>
        </article>

        
        
        <% } %> 
        <%}%> 
        


        
       
    </div>
</section>