<article class="display-flex-column article align-center beige">
    <div class="display-flex"></div>
    <div class="display-flex space-between align-end width-90">
        <img
            class="wine-logo"    
            src="/images/Vino-x-prueba.png"
            alt="wineProduct"
        />
        <p class="width-100 font-size-075 align-center">
            Luigi Bosca Malbec 750"
        </p>
        <div id="display-table">
            <i class="fas fa-clipboard"></i>
        </div>
        <div id="price-section" class="display-flex justify-end">
            <input
                class="quantity-box"
                type="number"
                placeholder="1"
            />
            <p class="self-end bold"  >$350</p>
        </div>
    </div>

    <div id="product-options" class="display-flex">
        <ul class="display-flex article-options justify-evenly">
            <div class="display-flex width-50">
                <li>
                    <button
                        id="add"
                        class="article-options"
                        type="button"
                    >
                        <i class="fas fa-shopping-cart"></i>
                    </button>
                </li>

                <li>
                    <button
                        id="erase"
                        class="article-options"
                        type="button"
                    >
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </li>

                <li>
                    <button
                        id="favourites"
                        class="article-options"
                        type="button"
                    >
                        <i class="far fa-heart"></i>
                    </button>
                </li>
                <li>
                    <button
                        id="recipies"
                        class="article-options"
                        type="button"
                    >
                        <i class="fas fa-utensils"></i>
                    </button>
                </li>
            </div>

            <div id="option-display" class="margin-r-1">
                <li id="more-opt-align">
                    <button
                        class="article-options width-10 background-color-main"
                        type="button"
                    >
                        <i class="fas fa-ellipsis-v gray"></i>
                    </button>

                    <select
                        size="2"
                        name="more-options"
                        id="more-options"
                    >
                        <option value="buy-now">
                            Comprar ahora
                        </option>
                        <option value="same-seller">
                            Ver vendedor
                        </option>
                    </select>
                </li>
            </div>
        </ul>
    </div>
</article>