<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../partials/head.ejs") %>

        <title>NUEVO PRODUCTO | Winderful</title>
    </head>
    <body>
        <%- include("../partials/header.ejs") %>
        <main class="main-newProduct">
            <section class="reveal">
                <p>aca se va cargando lo que pone la persona</p>
            </section>
            <section class="form form-newProduct">
                <form action="/productos/crear" method="POST" enctype="multipart/form-data" class="form">
                    <label for="productName">Nombre del producto</label>
                    <input type="text" name="product_name" id="productName" />

                    <label for="productDescription"
                        >Descripción del producto</label
                    >
                    <textarea
                        name="description"
                        id="productDescription"
                        cols="30"
                        rows="10"
                    ></textarea>

                    <label for="productYear">Añada</label>
                    <input type="number" name="year" id="productYear" />

                    <label for="productCountry">País</label>
                    <select name="country" id="productCountry">
                        <option value="">1</option>
                        <option value="">1</option>
                    </select>

                    <label for="productRegion">Region</label>
                    <select name="region" id="productRegion">
                        <option value="">1</option>
                        <option value="">1</option>
                    </select>

                    <label for="productView">A la vista</label>
                    <input type="text" name="view" id="productView" />

                    <label for="productSmell">Aromas</label>
                    <input type="text" name="smell" id="productSmell" />

                    <label for="productTaste">Sabor en boca</label>
                    <input type="text" name="taste" id="productTaste" />

                    <label for="productTemperature"
                        >Temperatura de servicio</label
                    >
                    <input
                        type="number"
                        name="temperature"
                        id="productTemperature"
                    />

                    <label for="productAged">Años de guarda</label>
                    <input type="number" name="productAged" id="productAged" />

                    <label for="productPicture">Foto del producto</label>
                    <input
                        type="file"
                        name="image"
                        id="productPicture"
                    />
                    <label for="productPrice">Precio</label>
                    <input
                        type="number"
                        name="price"
                        id="productPrice"
                    />

                    <label for="productQuantity">Stock</label>
                    <input
                        type="number"
                        name="stock"
                        id="productQuantity"
                    />

                    <label for="productPairing">Marida bien con:</label>
                    <input
                        type="text"
                        name="pairing"
                        id="productPairing"
                    />

                    <button type="submit" class="button">Crear producto</button>
                </form>
            </section>
        </main>
        <%- include("../partials/footer.ejs") %>
    </body>
</html>
