<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../partials/head.ejs") %>

        <title>NUEVO PRODUCTO | Winderful</title>
    </head>
    <body>
        <%- include("../partials/header.ejs") %>
        <main class="main-newProduct">
            <section class="reveal">
                <p>aca se va cargando lo que pone la persona</p>
            </section>
            <section class="form form-newProduct">
                <form
                    action="/productos/crear"
                    method="POST"
                    enctype="multipart/form-data"
                    class="form"
                >
                    <label for="productName">Nombre del vino</label>
                    <input type="text" name="product_name" id="productName" />
                    <label for="productDescription">Descripción</label>
                    <textarea
                        name="description"
                        id="productDescription"
                        cols="30"
                        rows="10"
                        placeholder="Agregue detalles que se aprecien a la vista, olores y sabores en boca."
                    ></textarea>
                    <label for="productGrape">Varietal </label>
                    <input type="text" name="grape" id="productGrape" />
                    <label for="productYear">Añada</label>
                    <input type="number" name="year" id="productYear" />
                    <label for="productTemperature"
                        >Temperatura de servicio</label
                    >
                    <input
                        type="number"
                        name="temperature"
                        id="productTemperature"
                    />
                    <label for="productAged">Crianza</label>
                    <input type="number" name="aged" id="productAged" />

                    <label for="productPicture">Foto del producto</label>
                    <input
                        type="file"
                        name="image"
                        id="productPicture"
                    />
                    <label for="productPrice">Precio</label>
                    <input
                        type="number"
                        name="price"
                        id="productPrice"
                    />

                    <label for="productQuantity">Stock</label>
                    <input
                        type="number"
                        name="stock"
                        id="productQuantity"
                    />

                    <label for="productPairing">Marida bien con:</label>
                    <input
                        type="text"
                        name="pairing"
                        id="productPairing"
                    />

                    <button type="submit" class="button margin">
                        Crear producto
                    </button>
                </form>
            </section>
        </main>
        <%- include("../partials/footer.ejs") %>
    </body>
</html>
